.title {
    margin-top: 0.5rem;
}

.card-img-top{
    /* width: 100%; */
    height: 12rem;
  }

.card {
    /* position: relative; */
    /* display: flex; */
    /* flex-direction: column; */
    min-width: 12rem;
    word-wrap: break-word;
    border-radius: .25rem;
}

.card-body p {
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
}

/* .navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    border-bottom: 8px solid #f20707;
} */
