.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel {
    display: flex;
    min-width: 100%;
    min-height: 200px;
    overflow-x: auto;
  }
  /* .reel::-webkit-scrollbar {
    display: none;
  } */
  .tile {
    //min-width: 200px;
    flex-grow: 0;
    margin: 0.5rem;
  }