@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables.sass";

// Brand colors
$blue: #0077c7;
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;
$link: $primary;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update Bulma's derived variables
$navbar-height: 4rem;
$navbar-breakpoint: $tablet;