// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma.sass";


// Shared stuff

.button {
    .is_borderless {
        border: none;
    }
}

.is-centered {
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.is-fullheight {
    height: 100vh !important;
}

@import 'authentication.scss';
@import 'horizontal_reel';
@import 'home_spotlight.scss';