// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma.sass";


// Shared stuff

@media screen and (max-width: 786px) {
    .section-title-with-actions {
        display: block;
        margin-bottom: 1.5rem;
    }
}

.is-centered {
    display:flex;
    justify-content: center;
    align-content: center;
}

