// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma.sass";


// Shared stuff

.is-centered {
    display:flex;
    justify-content: center;
    align-content: center;
}

@import 'authentication.scss';