.spotlight {
    @extend .notification;
    padding-top: 4.5rem;
    border-radius: $radius;
    background-repeat: no-repeat;
    background-size: cover;
}

.spotlight.has-background-dimmed {
    box-shadow: inset 0 -27px 115px -28px black;
}

.spotlight-image {
}

.spotlight-overlay {
    @include overlay(1.5rem);
}

.spotlight-content {
    padding: $notification-padding;
    min-height: inherit;
}