.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}
/* .reel::-webkit-scrollbar {
  display: none;
} */
.tile {
  min-width: 163px;
  flex-grow: 0;
  margin: 0.5rem;
}

.tile-title {
  @extend .title;
  @extend .mb-4;
  height: 3.2rem;
  /* Multiline text with overflow ellipsis: */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}